<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-mm-yyyy HH:mm:ss.SSS} %level: %msg | request # %n</pattern>
        </encoder>
    </appender>

    <appender name="">

    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
    <logger name="request-logger" level="info">
        <appender-ref ref="Console" />

    </logger>
</configuration>